venv*
.DS_Store
finetuning_classification/4_Training_Classifier_4_Classes_paper.ipynb
.ipynb_checkpoints*
ipynb
.env
*test.ipynb
*.bck
__pycache__/
taxonomy.jsonl
*data_mixtral
*test_1*
05a_prompt_experiments
Synthetic_data/*
synthetic_data/*
fms-job-templates/*
*tgqg_questions.jsonl
07_Aligner_training/Training_data
07_Aligner_training/results_comb_old
07_Aligner_training/results_comb
07_Aligner_training/results
07_Aligner_training/results_instructlab
07_Aligner_training/cache
*scratch*
LLM_judge_eval*